//- section(class="box section")
//-   .box-head Experience

//- section(class="box section")
//-   .box-head Education

section(class="box section")
  .box-head Skill
    ul(class="skill-list")

      li(class="skill")
        h5 JS
        progress(
          class="skill-javascript"
          max="100"
          value="70"
        )

      li(class="skill")
        h5 HTML
        progress(
          class="skill-html"
          max="100"
          value="50"
        )

        li(class="skill")
          h5 CSS
          progress(
            class="skill-css"
            max="100"
            value="35"
          )

