extends layout

block content

  nav(class="nav-top")

    img(
      class="img round thumbnail"
      src="/img/thumbnail.jpg"
      alt="Porco Rosso"
      width="90"
      height="90"
    )

    .introduction
      span(class="name") Xnie
      p(class="description") Web enthusiast


  main(class="box main")

    section(class="box section")
      .box-head Experience

    section(class="box section")
      .box-head Education

    section(class="box section")
      .box-head Skill


