extends layout

block content
  nav(class="nav-top")

    figure(class="perso")
      img(
        class="img round center"
        src="/img/thumbnail.jpg"
        alt="Porco Rosso"
        width="90"
        height="90"
      )

  main(class="box main")
    blockquote(class="slogan") Code it work. Code it right. Code it fase.
