nav(class="nav-top")

  img(
    class="img round thumbnail"
    src="/img/thumbnail.jpg"
    alt="Porco Rosso"
    width="70"
    height="70"
  )

  ul(class="nav-menu")
    li
      a(href="index" class="nav-tab active" data-toggle="blog") Blog
    li
      a(href="cv" class="nav-tab" data-toggle="cv") CV
    li
      a(href="contact" class="nav-tab" data-toggle="contact") Contact
  //- .introduction
  //-   span(class="name") Xnie
  //-   p(class="description") Web enthusiast
