nav(class="nav-top")

  section(class="author")
    img(
      class="img thumbnail"
      src="/img/thumbnail.jpg"
      alt="Porco Rosso"
      width="60"
      height="60"
    )

  section(class="nav-menu")
    ul
      li
        a(href="index" class="nav-item active" data-toggle="blog") Blog
      li
        a(href="cv" class="nav-item" data-toggle="cv") CV

  //- .introduction
  //-   span(class="name") Xnie
  //-   p(class="description") Web enthusiast
