nav(class="nav-top")

  section(class="author")
    img(
      class="img thumbnail"
      src="/img/thumbnail.jpg"
      alt="Porco Rosso"
      width="60"
      height="60"
    )

  section(class="nav-menu off")
    ul
      li(class="nav-item active" data-toggle="blog")
        a(href="/") Blog

      hr(class="menu divider")

      li(class="nav-item" data-toggle="cv")
        a(href="/cv") CV

      hr(class="menu divider social")

      li(class="nav-item social")
        ul(class="social list")
          li
            a(href="https://github.com/nie-xin" class="brandico-github img round")

          li
            a(href="https://fr.linkedin.com/in/niexin" class="brandico-linkedin img round")



  //- .introduction
  //-   span(class="name") Xnie
  //-   p(class="description") Web enthusiast
