nav(class="nav-top")

  img(
    class="img round thumbnail"
    src="/img/thumbnail.jpg"
    alt="Porco Rosso"
    width="70"
    height="70"
  )

  ul(class="nav-menu")
    li Blog
    li CV
    li Concact
  //- .introduction
  //-   span(class="name") Xnie
  //-   p(class="description") Web enthusiast
